*{
    box-sizing: border-box;
}
.body{
    font-family: 'Roboco', sans-serif;
    margin: 0;
}

.header{
    color: #f8f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: clamp(1.9em,5vw,2.8em);
    text-align: center;
    height: 100vh;
    background: linear-gradient(#817877d3, #000000d2);
    border-bottom: 0.35rem solid rgba(231, 33, 33, 0.726);
}
span{
    font-weight: 400;
    color: rgb(62, 156, 243);
    display: block;
}
h1,h2,h3{
    margin: 0;
}
hr{
    width: 80%;
    background-color: rgba(200, 36, 36, 0.5);
    height: 2px;
    border: none;
}
.header-title,
.header-title2{
    margin: 1rem;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    background-color: rgb(38, 46, 46);
    width: 100%;
    position: fixed;
    top: 0;
    font-size: clamp(1.5rem,5vw,1.8rem);
    border-bottom: 0.25rem solid rgba(231, 33, 33, 0.726);
}
.nav-bar a{
    padding:0.7rem;
    font-weight: 700;
    text-align: center;
    width: 100%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.5s ease;
}
.nav-bar a:hover{
    background-color: rgb(138, 138, 138);
    transform: translateY(-0.09em);
}
.main{
    background-color: rgb(50, 32, 70);
    border-bottom: 0.35rem solid rgba(231, 33, 33, 0.726);
    text-align: center;
    color: white;
    font-size: clamp(1.8em,5vw,2.5em);
}
.main-projects{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}
.main-projects h3{
    margin: 0.2em auto;
    font-size: clamp(3rem,5vw,4rem);
    /* max-width: 1000px; */
    /* text-decoration: underline overline #FF3028; */
    width: 100%;
}

#works{
    margin: 0.5em auto;
}


.project-tile{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-top: 2rem;
    background: linear-gradient(#817877d3, #000000d2);   
}
.project-tile h3{
    font-size: clamp(1.5rem,5vw,2rem);
}
.project-img{
    max-width: 100%;
    width: 400px;
}
.project-link{
    width: 80%;
    color: rgb(255, 255, 255);
    font-size: 0.9em;
    text-decoration: none;
    font-weight: 700;
    margin:2rem;
    background-color: rgb(38, 46, 46);
    border-radius: 10px;
    padding: 0.2em 1.5em;
}
.project-link:hover{
    background-color: rgb(138, 138, 138);
}
.contact-ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}
.contact-link{
    font-size: 0.6em;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    display: block;
    padding: 0.5em 1em;
    border-radius: 20px;
    font-weight: 700
}
.facebook{
    background-color: rgba(81, 81, 238, 0.609);
    transition: 0.5s ease;
}
.steam{
    background-color: rgba(53, 51, 51, 0.609);
    transition: 0.5s ease;
}
.instagram{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    transition: 0.5s ease;
}
.facebook:hover{
    box-shadow: 1px 1px 50px rgba(0, 0, 255, 0.493);
    transform: translateY(0.3em);
}
.steam:hover{
    box-shadow: 1px 1px 50px rgba(95, 92, 92, 0.589);
    transform: translateY(0.3em);
}
.instagram:hover{
    box-shadow: 1px 1px 50px rgba(211, 67, 67, 0.65);
    transform: translateY(0.3em);
}
.footer{
    color: white;
    font-size: clamp(0.5rem,5vw,1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background: linear-gradient(#000000d2,#777c81d3);
    margin: 0;
}
.footer p {
    width: 80%;
    max-width: 450px;
}
@media(min-width:800px){
    .nav-bar{
        justify-content: flex-start;
        margin: 0;
        z-index: 1;
    }
    .nav-bar a{
        width: 100%;
        max-width: 180px;
    }
    .project-tile{
        margin:1rem 4rem;
        transition: 0.5s ease;
    }
    .project-tile:hover{
        transform: scale(1.05);
    }
    .project-link{
        padding: 0.5em;
    }
    .contact-link{
        padding: 0.3em 2.2em;
    }
    .footer{
        flex-direction: row;
    }
}