*{
    box-sizing: border-box;
}
.body{
    font-family: 'Spectral SC', sans-serif;
    margin: 0;
}

.header{
    color: #f8f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* font-size: 1.6em; */
    font-size: clamp(1.6em,5vw,2.5em);
    text-align: center;
    height: 100vh;
    /* background-color: rgb(38, 46, 46); */
    background: linear-gradient(#777c81d3, #000000d2);
    /* background-image: url(/assets/img/mobile-background.jpg); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    border-bottom: 0.35rem solid rgba(231, 33, 33, 0.726);
    
}
h1,h2,h3{
    margin: 0;
}
.header-title,
.header-title2,
.header-title3{
    margin: 1rem;
}
.nav-bar{
    background-color: rgb(38, 46, 46);
    /* letter-spacing: 1px; */
    font-weight: 400;
    display: flex;
    /* flex-basis: 30%; */
    width: 100%;
    position: fixed;
    top: 0;
    justify-content: space-around;
    font-size: clamp(1.2rem,5vw,1.5rem);
    border-bottom: 0.25rem solid rgba(231, 33, 33, 0.726);
}
.nav-bar a{
    font-weight: 700;
    text-align: center;
    padding: 0.5em;
    /* width: 100%; */
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nav-bar a:hover{
    background-color: rgb(138, 138, 138);
}
.main{
    border-bottom: 0.35rem solid rgba(231, 33, 33, 0.726);
}
.main-projects{
    text-align: center;
    background-color: tomato;
    margin: 0;
    font-size: clamp(1.6em,5vw,2.5em)
}
@media(min-width:800px){
    .nav-bar{
        justify-content: flex-start;
    }
    .nav-bar a{
        width: 100%;
        max-width: 180px;
    }
}